{%if tipo==1%}
{%for grupo in grupos%}
      <li class="parent_li grupo" id="grupo_{{grupo.id}}">
          
          <span class="items_remoto" id="nodo_grupo_{{grupo.id}}" data-id={{grupo.id}}  title="Collapse this branch">
                <i class="icon-plus-sign"></i> {{grupo}} 
              <br/>
              <small>Click para ver alumnos.</small>
              <br/>
              <br/>
              <small style="text-align: center;">
              <input type="checkbox" class="grupo" value="{{grupo.id}}" onchange="" />
              seleccionar todos.
              </small>
          </span>
          
          <ul id="ul_ca_{{grupo.id}}">
          </ul>
      </li>
{%endfor%}  
{%endif%}      
{%if tipo==2%}
{%for grupo in grupos%}
      <li class="parent_li grupo" id="grupo_{{grupo.id}}">
          
          <span class="items_remoto" id="nodo_grupo_{{grupo.id}}" data-id={{grupo.id}}  title="Collapse this branch">
                <i class="icon-plus-sign"></i> {{grupo}} 
              <br/>
              <small>Click para ver asignaturas.</small>
              <br/>
              <br/>
              
          </span>
            <small id="operativo_grupo{{grupo.id}}">
                <input value="{{grupo.id}}" type="checkbox" id="check_operativo_grupo{{grupo.id}}" class="grupos grupo_operativo destino">
              operativo
            </small>  
            <small id="small_grupo_gc{{grupo.id}}" style="text-align: center;display: none;">
              <input type="checkbox" class="grupo" id="grupo_ckeck_{{grupo.id}}"  value="{{grupo.id}}" 
                     onclick="allCheckBox('grupo_ckeck_{{grupo.id}}','grupo_mi_{{grupo.id}}')" 
                     />
              <small>Todas (asignaturas).</small>
             </small>
          <ul id="ul_ca_{{grupo.id}}">
          </ul>
      </li>
{%endfor%}  
{%endif%}      
