 
{%for usuario in usuarios%}

<div class="col-lg-2">
    <span><input
       {%if usuario.grupo !=null%} 
        data-grupo-id="{{usuario.grupo.id}}"
       {%else%}
        data-grupo-id="0"
       {%endif%} 
        class="alumnos" 
        value="{{usuario.id}}" 
        type="checkbox" id="usuario{{usuario.id}}">
        {%if usuario.getSituacionAcademicaAnoAnterior==1%}
                    <span class="label label-success arrowed arrowed-right">Gano</span>
                {%elseif  usuario.getSituacionAcademicaAnoAnterior==2%}
                    <span class="label label-danger arrowed arrowed-right">Perdio</span>
                {%else%}
                     
                {%endif%}    
                {%if usuario.getEsHabilitacion==1%}
                    	<span class="label label-warning arrowed arrowed-right">Recupero</span>
                {%else%}
                    
                {%endif%}        
 </span>   
<a  data-toggle="tooltip" data-placement="top" title="{{usuario}} Grado/Grupo: {{usuario.grado}}/
    " 
    href="{{ path('profesor_perfiladmin', { 'id': usuario.id }) }}">
               {%if usuario.usuario is null%}
                    <img class="img-circle" style="width:60px;height: 60px;"  src="{{asset('uploads/documents/strongavatar.png')}}" alt="InachoLee" />                    
                    <span class="red">Usuario con problema</span>
               {%else%}    
                    {%if usuario.usuario.getEsFotoperfil()==TRUE%}
                        <img  class="img-circle" style="width:60px;height: 60px;" src="{{asset('uploads/documents/strongalumno'~usuario.id~'.jpg')}}" />        
                    {%else%}
                        <img class="img-circle" style="width:60px;height: 60px;"  src="{{asset('uploads/documents/strongavatar.png')}}" alt="InachoLee" />                    
                    {%endif%}
                {%endif%}        
               </a>
        <span style="font-size: 10px">{{usuario}}
            
                    
            (    
            <small>
        {%if usuario.grupo is null%}
    no tiene grupo.
{%else%}    
{{usuario.grupo}}
{%endif%}    )
                </small>
        </span>
</div>

<div class="col-lg-1">
</div>
{%if loop.index%4==0%}
<div class="col-lg-12">
<div class="hr hr32 hr-dotted"></div>
</div>
{%endif%}
{%endfor%}        
