{% extends 'NetpublicCoreBundle::layout.html.twig' %}
{% block title %}Informes: Consolidado De eficiencia.{% endblock %}
{%block TodosMenusMuro %} 
<div class="well" style="background-color: #DCDCDC;"> 
<div>
    
     {% include 'NetpublicCoreBundle:Colegio:iconoimpresion.html.twig' %}
 </div>    
<div style="clear: both;"></div>
<div style="background-color: white;height: 2000px;">  
    <h3>{{periodo}}</h3>
    <div  style="font-size: 10px;width: 970px;color:gray;" >              
      {%for datos_grado in x %}                           
           {%if loop.index<=5%} 
           <div style="float: left;width: 158px;height: 500px;">
               <div   style="text-align: center;
                    height: 50px;
                    background-color: #005C8A;
                    color: white;
                    font-size: 18px;                    
                    "><strong>{{datos_grado[0]}}</strong></div>
               <div>
                   <div     style="background-color: #FFFFFF;text-align: center;">
                             <div      style="float:left;width: 30px;">Alum</div>
                             <div      style="float:left;width: 30px;">Super</div>
                             <div      style="float:left;width: 30px;">Alto</div>           
                             <div      style="float:left;width: 30px;">Basico</div>                                                     
                             <div  style="float:left;width: 30px;">Bajo</div>                                                             
                         </div> 
                          <div style="clear:both;"></div>           
                   {%for data_area in datos_grado[1]%}
                       <div     
                             style="background-color: #E1EEF4;height: 25px;font-size: 14px;" >
                        {{data_area[0]}}</div>
                         
                          <div style="clear:both;"></div>           
                          <div   style="background-color: white;">                             
                         {%for data in data_area[1]%}                                    
                                  <div {%if loop.index!=loop.last%} {%endif%}  style="background-color: white;float:left;text-align: center;width: 30px;">{{data}}</div>
                         {%endfor%}
                         </div>   
                            <div style="clear:both;"></div>
                   {%endfor%}
               </div>
           </div>             
           {%endif%} 
      {%endfor%} 
     </div>       

        <div style="clear: both;"></div>

     <div  style="font-size: 10px;width: 970px;color:gray;" >              
      {%for datos_grado in x %}                           
           {%if loop.index>5 and loop.index<11%} 
           <div style="float: left;width: 158px;height: 500px;">
               <div   style="text-align: center;
                    height: 50px;
                    background-color: #005C8A;
                    color: white;
                    font-size: 18px;                    
                    "><strong>{{datos_grado[0]}}</strong></div>
               <div>
                   <div     style="background-color: #FFFFFF;text-align: center;">
                             <div      style="float:left;width: 30px;">Alum</div>
                             <div      style="float:left;width: 30px;">Super</div>
                             <div      style="float:left;width: 30px;">Alto</div>           
                             <div      style="float:left;width: 30px;">Basico</div>                                                     
                             <div  style="float:left;width: 30px;">Bajo</div>                                                             
                         </div>
                       <div style="clear: both;"></div> 
                   {%for data_area in datos_grado[1]%}
                       <div  style="background-color: #E1EEF4;height: 25px;font-size: 14px;" >
                        {{data_area[0]}}</div>
                         
                          <div style="clear:both;"></div>           
                          <div   style="background-color: white;">                             
                         {%for data in data_area[1]%}                                    
                                  <div {%if loop.index!=loop.last%} {%endif%}  style="background-color: white;float:left;text-align: center;width: 30px;">{{data}}</div>
                         {%endfor%}
                         </div>   
                            <div style="clear:both;"></div>
                   {%endfor%}
               <div style="clear:both;"></div>             
               </div>
           </div>             
           {%endif%} 
      {%endfor%} 
     </div>        
    <div style="clear: both;"></div>
    <div style="width: 100%;float: right;margin-top: 100px;height: 50px;">---</div>
    <div style="clear: both;"></div>
    <div  style="font-size: 10px;width: 970px;color:gray;" >              
      {%for datos_grado in x %}                           
           {%if loop.index>11%} 
           <div style="float: left;width: 158px;height: 500px;">
               <div   style="text-align: center;
                    height: 50px;
                    background-color: #005C8A;
                    color: white;
                    font-size: 18px;                    
                    "><strong>{{datos_grado[0]}}</strong></div>
               <div>
                   <div     style="background-color: #FFFFFF;text-align: center;">
                             <div      style="float:left;width: 30px;">Alum</div>
                             <div      style="float:left;width: 30px;">Super</div>
                             <div      style="float:left;width: 30px;">Alto</div>           
                             <div      style="float:left;width: 30px;">Basico</div>                                                     
                             <div  style="float:left;width: 30px;">Bajo</div>                                                             
                         </div> 
                          <div style="clear:both;"></div>           
                   {%for data_area in datos_grado[1]%}
                       <div     
                             style="background-color: #E1EEF4;height: 25px;font-size: 14px;" >
                        {{data_area[0]}}</div>
                         
                          <div style="clear:both;"></div>           
                          <div   style="background-color: white;">                             
                         {%for data in data_area[1]%}                                    
                                  <div {%if loop.index!=loop.last%} {%endif%}  style="background-color: white;float:left;text-align: center;width: 30px;">{{data}}</div>
                         {%endfor%}
                         </div>   
                            <div style="clear:both;"></div>
                   {%endfor%}
               </div>
           </div>             
           {%endif%} 
      {%endfor%} 
     </div>       

        <div style="clear: both;"></div>

</div>
<div style="clear: both;"></div> 

</div>
{%endblock%}