{% extends 'NetpublicCoreBundle::layout.html.twig' %}
{% block title %}Gestión de Promoción De Estudiantes.{% endblock %}
{%block  sub_container  %}
<ul class="nav nav-pills" style="display: inline;">
  <li><a href="{{path('colegio_gestionarpromover')}}">Configuracón Básica</a></li>
  <li class="active"><a href="{{path('colegio_gestionarpromovergrados')}}">Promover Estudiantes</a></li>
  <li><a href="{{path('colegio_newmatricularpromovidos')}}">Matricular promovidos</a></li>
</ul>
    {%for grado in grados%}      
        
<div id="capa_g{{grado.id}}" class="col-lg-12" style="background-color: #FFF8DC;padding: 10px 10px; ">
        <div class="col-lg-4" style="background-color: #F5F5F5;height: 40px;border-right: gray solid thin;padding-top: 10px;"> 
                <span>{{grado}}</span>                           
        </div>
        <div class="col-lg-4" style="text-align: center;background-color: #F5F5F5;height: 40px;border-right: gray solid thin;padding-top: 10px;">
                    <button onclick="promover();">
                        <i class="icon  icon-mail-forward blue"></i>
                    </button>
        </div>         
            {#Inicio para Año escolar Siguiente#}    
        <div class="col-lg-4" style="background-color: #F5F5F5;height: 40px;padding-top: 6px;">
                <select id="select_grado_siguiente{{grado.id}}" onchange="mostrarGruposAnoSiguiente({{grado.id}});">
                         {%for grado_siguiente in grados%}
                                <option value="{{grado_siguiente.id}}">{{grado_siguiente}}</option>
                         {%endfor%}
                        </select>        
                        {#end#}   
        </div>
        <div id="capa_ano_siguiente_grado{{grado.id}}" class="col-lg-12" style="background-color: #F5F5F5;">
        </div>

         </div>   
{%endfor%}
            <div class="clearfix"></div>  
            
            <button class="btn btn-default pull-right" onclick="promoverTotalSeleccioandos();">Promover</button>       
{%endblock%}
            