
<div style="float: right;" id="iconos_formatos">
            <div class="well" style="background-color: #F5F5DC;">
    <a target="_blank" href="{{ path('colegio_consolidado', {'_format':'pdf'}) }}" >
        <img src="{{ asset('bundles/netpubliccore/images/pdficon.gif') }}" alt="icono pdf" />
    </a>
        <a target="_blank" href="{{ path('colegio_consolidado', {'_format':'xls'}) }}">        
<img src="{{ asset('bundles/netpubliccore/images/icono-excel.gif') }}" alt="icono excel" />
        </a>
{#                    <a href="#" onclick="mostrarConsolidadoColegioHTML();">        
<span style="color: blue;font-size: 40px;font-weight: bolder;">
    HMTL
</span>

            </a>
 
                    <a href="#" onclick="mostrarConsolidadoColegio(1);">
        <img style="width: 50px;height: 40px;" src="{{ asset('bundles/netpubliccore/images/estadisticas.gif') }}" alt="Graficas" />
    </a>                    
#}
</div>
        </div>    
