{% extends 'NetpublicCoreBundle::layout.html.twig' %}
{% block title %}Mi colegio.{% endblock %}

{%block  sub_container  %}

<div class="well" style="margin-left: 20px;width: 90%;background-color: gainsboro;font-weight: 900;">
    <div style="margin-bottom: 20px;" class="col-lg-12">
        <a class="col-lg-3" href="{{path('colegio_informeconsolidadoeficiencia',{'sede_id': 0})}}" >
            <div style="height: 90px;padding-top: 5px;text-align: center;color: white;background-color: #4F99C6;">
                <i class="icon icon-fullscreen fa-3x"></i><br/>
            
      Consolidado<br/>De Eficiencia.

            </div>                
        </a>
        <a class="col-lg-3" href="{{path('colegio_informeconsolidadoasgperdidas')}}"  >
            <div style="height: 90px;padding-top: 5px;text-align: center;color: white;background-color: #4F99C6;">
            <i class="fa fa-tasks fa-3x"></i><br/>    
            Consolidado de Asignaturas perdidas.
            </div>
        </a>        
        <a class="col-lg-3"  href="{{path('colegio_listacomponentes')}}" >
            <div style="height: 90px;padding-top: 5px;text-align: center;color: white;background-color: #4F99C6;">
              <i class="icon icon-ok fa-3x"></i><br/>    
              
           Consolidado de Mejores grupos.
            </div>                
        </a>
        <a class="col-lg-3"  href="{{path('colegio_informeboletines')}}" >
            <div style="height: 90px;padding-top: 5px;text-align: center;color: white;background-color: #4F99C6;">
                <i class="icon icon-thumbs-up fa-3x"></i><br/>    
              Consolidado de mejores estudiantes
            </div>                
        </a>
 </div>         
 {#Segundo bloque#} 
 <div style="margin-top: 20px;" class="col-lg-12"> 
    <a class="col-lg-3"  href="{{path('profesor_listaflujos')}}" >
    <div style="height: 90px;padding-top: 5px;text-align: center;color: white;background-color: #4F99C6;">
      <i class="fa fa-bars fa-3x"></i><br/>    
            
        Informe flujo de trabajo de profesores.
    </div>                
    </a>
    <a class="col-lg-3"  href="{{ path('colegio') }}" >
    <div style="height: 90px;padding-top: 5px;text-align: center;color: white;background-color: #4F99C6;">
        <i class="icon icon-thumbs-down fa-3x"></i><br/>    
        Profesores Quebradores.
    </div>                
    </a>
    <a class="col-lg-3" href="#" onclick="mostrarGestorDePublicaciones();" >
        <div style="height: 90px;padding-top: 5px;text-align: center;color: white;background-color: #4F99C6;">
         <i class="fa fa-file fa-3x"></i><br/>    
               Consolidado de Alumnos 3R.
    </div>
    </a> 
     <a class="col-lg-3"  href="{{path('colegio_informepromover')}}" >
        <div style="height: 90px;padding-top: 5px;text-align: center;color: white;background-color: #4F99C6;">
            <i class="fa fa-retweet fa-3x"></i><br/>    
            Informe de promoción.
    </div>
    </a>        
 </div>         
 <div class="clearfix"></div>        

</div>

{%endblock%}

