{% extends 'NetpublicCoreBundle::layout.html.twig' %}
{% block title %}Gestor De Componentes.{% endblock %}
{%block  sub_container  %}
<div class="col-lg-12">
<ul class="nav nav-pills" style="display: inline;">
  <li><a href="{{path('colegio_gestionarpromover')}}">Configuracón Básica</a></li>
  <li><a href="{{path('colegio_gestionarpromovergrados')}}">Promover Estudiantes</a></li>
  <li class="active"><a href="{{path('colegio_newmatricularpromovidos')}}">Matricular promovidos</a></li>
</ul>
</div>
<div class="container-principal-informe-promover"> 
    <div class="form-group  col-lg-2">
        <label>Ano Escolar a matricular</label>
        <select class="form-control" name="ano_escolar_id" id="ano_escolar_id">
            
            <option value="*">Ano Escolar</option>
            {%for ano in anos_escolares%}
            <option value="{{ano.id}}">{{ano}}</option>
            {%endfor%}
        </select> 
    </div>
        <div id="sub-container-left_promover" class="sub-container-promover-left pull-left tree col-lg-12" style="font-size: 9px;">
			    <ul >
                                <li class="parent_li">
                                    <span id="nodo_grado"><i class="icon-plus-sign"></i> Grados</span>
                                    <ul id="ul_grados">
                                    </ul>    
			        </li>        
			    </ul>
        </div>
        <div class="col-lg-12 pull-right btn-group">
            <button class="btn btn-primary" onclick="procesarVariosPrincipalPromover();">Matricular promovidos</button>
            <button class="btn btn-default">Matricular nuevos</button>
            
        </div>
           
</div>
{%endblock%}
