<div class="container_especial_imprmir" style="
     margin: 0 0 0 0;
     padding: 0 0;
     width: 680px;
     position: relative;
     text-align: center;
     border: white solid thin;
     
     ">
                    <img style="
                         position: absolute;
                         left: 0px;
                         top: 0px;

                         "
                         src="{{ asset('uploads/red_saber/c_refe.png') }}" 
                         >


                    <img style="
                         position: absolute;
                         right: 0px;
                         top: 0px;
                         "
                         src="{{ asset('uploads/red_saber/c_refe.png') }}" 

                         >


                    <img style="
                         position: absolute;
                         left: 0px;
                         bottom:  0px;
                         "
                         src="{{ asset('uploads/red_saber/c_refe.png') }}" 
                         >


                    <img style="
                         position: absolute;
                         right: 0px;
                         bottom:  0px;
                         "
                         src="{{ asset('uploads/red_saber/c_refe.png') }}" 

                         >

                         <h4 style="text-align: center;font-weight: 900;margin-bottom: 0px;" >{{alumno_examen.alumno.sede}}.</h4>
                         <img style="margin: 0;padding: 0;"
    src="{{ asset('uploads/red_saber/hoja_repuestas.png') }}" />  

    {#Zona de texto#}
    <div style="
         font-size: 12px;
         width: 600px;
         border: black solid thin;
         padding-left: 10px;
         padding-top: 10px;
         text-align: left;
         margin-left: 30px;
         margin-top: 10px;
         ">
             <div style="margin:0 0 0 0;">
                 <div style="float: left;"><strong>Nombre y apellidos:</strong> {{alumno_examen.alumno}}. </div>
                 <div style="float: right;"><strong>Examen Id:</strong> {{alumno_examen.examen.id}}&nbsp; </div>
                 <div class="clearfix"></div>
            </div>
        <p style="margin:0 0 0 0;"><strong>Grado-grupo:</strong> {{alumno_examen.alumno.grado}}-{{alumno_examen.alumno.grupo}}.</p>
               {%if alumno_examen.nota!=null%}
        
        <p style="margin:0 0 0 0;"><strong>Componente a evaluar:</strong> {{alumno_examen.nota.dimension}}.</p>
            {%endif%}
        <p style="margin:0 0 0 0;"><strong>Fecha de inicio--Fecha final:</strong> Desde {{alumno_examen.examen.getfechaInicio|date("H:i Y/m/d")}} </p>
    </div>    
    {#Zona de sistema#}
    <div style="
         font-size: 12px;
         width: 600px;
         height: 160px;
         margin-left: 30px;
         margin-top: 20px;
         border: black solid thin;
         padding-left: 10px;
         text-align: left;
         ">
             <span style="color: gray;text-align: left;padding-left: 7px;float: left;font-size: 9px;">Información para el sistema</span>  
             <div class="clearfix"></div>         
             <div style="
                  width: 212px;
                  height: 104px;
                  border: black solid thin;
                  position: relative;
                  margin-top: 20px;
                  float: left;
                  ">
                     {{include('NetpublicRedsaberBundle:ExamenIcfes:numerosomr.html.twig',{'nro':alumno_examen.referencia})}} 
                     {{include('NetpublicRedsaberBundle:ExamenIcfes:_tipoexamen.html.twig',{'tipo_examen':2})}} 
                     
                </div>
                <div style="
                  width: 307px;
                  height: 132px;
                  border: black solid thin;
                  float: right;
                  position: relative;
                  margin-right: 10px;
                  border-radius: 15px 15px;
                  -webkit-border-radius: 15px 15px;
                  ">
                      <h6 style="text-align: center;margin:  8px 0px 0px 0px;padding: 0 0;font-size: 9px;">INSTRUCCIONES PARA EL LLENADO DE LA HOJA.</h6>
                      <ul style="font-size: 7px;margin-top: 8px;text-align: left;">
                          <li>
                              Esta hoja no puede ser doblada o arrugada
                          </li>
                          <li>
                              Use solomente lapiz numero 2 para el llenado<br/> de los ovalos.
                          </li>
                          <li>
                              El uso de lapiceros esta estrictamente prohibido
                          </li>
                          <li>
                              Los circulos deben de ser oscurecidos totalmente<br/> y correctamente
                          </li>
                          <li>
                              Cortar y borrar sobre esta hoja no esta permitido.
                          </li>
                          <li>
                              No marque afuera de los circulos sobre la hoja.
                          </li>
                      </ul>
                      <img
    style="
    position: absolute;
    left: 200px;
    top: 20px;
    "
    src="{{ asset('uploads/red_saber/img_ok_nok_markado.png') }}" />  

                      </div>
    </div>
<div class="clearfix"></div>
    {#Zona de repuesta#}
    <div style="
         font-size: 12px;
         width: 600px;
         height: 528px;
         border: black solid thin;
         padding-left: 10px;
         position: relative;
         margin-left: 30px;
         margin-top: 20px;
         ">
             
             <div style="
                  position: absolute;
                  left: 80px;
                  top: 5px;
                  font-size: 10px;
                  ">
             1
             </div>
             <div style="
                  position: absolute;
                  left: {{80+25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             2
             </div>
             
             <div style="
                  position: absolute;
                  left: {{80+2*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             3
             </div>
             <div style="
                  position: absolute;
                  left: {{80+3*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             4
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+4*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             5
             </div>
             <div style="
                  position: absolute;
                  left: {{75+5*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             6
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+6*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             7
             </div>
             <div style="
                  position: absolute;
                  left: {{75+7*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             8
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+8*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             9
             </div>
             <div style="
                  position: absolute;
                  left: {{70+9*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             10
             </div>
             
             <div style="
                  position: absolute;
                  left: {{70+10*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             11
             </div>
             <div style="
                  position: absolute;
                  left: {{65+11*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             12
             </div>
             
             <div style="
                  position: absolute;
                  left: {{65+12*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             13
             </div>
             <div style="
                  position: absolute;
                  left: {{65+13*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             14
             </div>
             <div style="
                  position: absolute;
                  left: {{65+14*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             15
             </div>
             
             <div style="
                  position: absolute;
                  left: {{63+15*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             16
             </div>
             <div style="
                  position: absolute;
                  left: {{63+16*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             17
             </div>
             
             <div style="
                  position: absolute;
                  left: {{63+17*25}}px;
                  top: 5px;
                  font-size: 10px;
                  ">
             18
             </div>
             
             <div style="
                  position: absolute;
                  left: 80px;
                  top: 132px;
                  font-size: 10px;
                  ">
             19
             </div>
             <div style="
                  position: absolute;
                  left: {{80+25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             20
             </div>
             
             <div style="
                  position: absolute;
                  left: {{80+2*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             21
             </div>
             <div style="
                  position: absolute;
                  left: {{80+3*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             22
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+4*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             23
             </div>
             <div style="
                  position: absolute;
                  left: {{75+5*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             24
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+6*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             25
             </div>
             <div style="
                  position: absolute;
                  left: {{75+7*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             26
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+8*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             27
             </div>
             <div style="
                  position: absolute;
                  left: {{70+9*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             28
             </div>
             
             <div style="
                  position: absolute;
                  left: {{70+10*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             29
             </div>
             <div style="
                  position: absolute;
                  left: {{65+11*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             30
             </div>
             
             <div style="
                  position: absolute;
                  left: {{65+12*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             31
             </div>
             <div style="
                  position: absolute;
                  left: {{65+13*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             32
             </div>
             <div style="
                  position: absolute;
                  left: {{65+14*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             33
             </div>
             
             <div style="
                  position: absolute;
                  left: {{63+15*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             34
             </div>
             <div style="
                  position: absolute;
                  left: {{63+16*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             35
             </div>
             
             <div style="
                  position: absolute;
                  left: {{63+17*25}}px;
                  top: 132px;
                  font-size: 10px;
                  ">
             36
             </div>
             
             <div style="
                  position: absolute;
                  left: 80px;
                  top: 265px;
                  font-size: 10px;
                  ">
             37
             </div>
             <div style="
                  position: absolute;
                  left: {{80+25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             38
             </div>
             
             <div style="
                  position: absolute;
                  left: {{80+2*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             39
             </div>
             <div style="
                  position: absolute;
                  left: {{80+3*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             40
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+4*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             41
             </div>
             <div style="
                  position: absolute;
                  left: {{75+5*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             42
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+6*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             43
             </div>
             <div style="
                  position: absolute;
                  left: {{75+7*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             44
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+8*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             45
             </div>
             <div style="
                  position: absolute;
                  left: {{70+9*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             46
             </div>
             
             <div style="
                  position: absolute;
                  left: {{70+10*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             47
             </div>
             <div style="
                  position: absolute;
                  left: {{65+11*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             48
             </div>
             
             <div style="
                  position: absolute;
                  left: {{65+12*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             49
             </div>
             <div style="
                  position: absolute;
                  left: {{65+13*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             50
             </div>
             <div style="
                  position: absolute;
                  left: {{65+14*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             51
             </div>
             
             <div style="
                  position: absolute;
                  left: {{63+15*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             52
             </div>
             <div style="
                  position: absolute;
                  left: {{63+16*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             53
             </div>
             
             <div style="
                  position: absolute;
                  left: {{63+17*25}}px;
                  top: 265px;
                  font-size: 10px;
                  ">
             54
             </div>
             
             <div style="
                  position: absolute;
                  left: 80px;
                  top: 395px;
                  font-size: 10px;
                  ">
             55
             </div>
             <div style="
                  position: absolute;
                  left: {{80+25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             56
             </div>
             
             <div style="
                  position: absolute;
                  left: {{80+2*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             57
             </div>
             <div style="
                  position: absolute;
                  left: {{80+3*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             58
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+4*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             59
             </div>
             <div style="
                  position: absolute;
                  left: {{75+5*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             60
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+6*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             61
             </div>
             <div style="
                  position: absolute;
                  left: {{75+7*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             62
             </div>
             
             <div style="
                  position: absolute;
                  left: {{75+8*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             63
             </div>
             <div style="
                  position: absolute;
                  left: {{70+9*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             64
             </div>
             
             <div style="
                  position: absolute;
                  left: {{70+10*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             65
             </div>
             <div style="
                  position: absolute;
                  left: {{65+11*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             66
             </div>
             
             <div style="
                  position: absolute;
                  left: {{65+12*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             67
             </div>
             <div style="
                  position: absolute;
                  left: {{65+13*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             68
             </div>
             <div style="
                  position: absolute;
                  left: {{65+14*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             69
             </div>
             
             <div style="
                  position: absolute;
                  left: {{63+15*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             70
             </div>
             <div style="
                  position: absolute;
                  left: {{63+16*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             71
             </div>
             
             <div style="
                  position: absolute;
                  left: {{63+17*25}}px;
                  top: 395px;
                  font-size: 10px;
                  ">
             72
             </div>

             
             
             
             <div style="
                  position: absolute;
                  left: 65px;
                  top: 20px;
                  font-size: 10px;
                  ">
             A
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{17+25}}px;
                  font-size: 10px;
                  ">
             B
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{17+2*25}}px;
                  font-size: 10px;
                  ">
             C
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{17+3*25}}px;
                  font-size: 10px;
                  ">
             D
             </div>

             
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{17+5*26}}px;
                  font-size: 10px;
                  ">
             A
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{17+6*26}}px;
                  font-size: 10px;
                  ">
             B
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{17+7*26}}px;
                  font-size: 10px;
                  ">
             C
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{17+8*26}}px;
                  font-size: 10px;
                  ">
             D
             </div>
             
             
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{20+10*26}}px;
                  font-size: 10px;
                  ">
             A
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{20+11*26}}px;
                  font-size: 10px;
                  ">
             B
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{20+12*26}}px;
                  font-size: 10px;
                  ">
             C
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{18+13*26}}px;
                  font-size: 10px;
                  ">
             D
             </div>

             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{25+16*24}}px;
                  font-size: 10px;
                  ">
             A
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{25+17*24}}px;
                  font-size: 10px;
                  ">
             B
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{25+18*24}}px;
                  font-size: 10px;
                  ">
             C
             </div>
             <div style="
                  position: absolute;
                  left: 65px;
                  top: {{25+19*24}}px;
                  font-size: 10px;
                  ">
             D
             </div>
             
             
          {%for j in 1..4%}
             {%set columna=loop.index0%}
             {%for i in 1..18%}
                <img
                    style="
                    position: absolute;
                    left: {{loop.index0*24+78}}px;
                    top: {{columna*24+20}}px;
                    "
                    src="{{ asset('uploads/red_saber/buble_cero.png') }}" />  
             {%endfor%}
         {%endfor%}
         
         {%for j in 1..4%}
             {%set columna=loop.index0%}
             {%for i in 1..18%}
                <img
                    style="
                    position: absolute;
                    left: {{loop.index0*24+78}}px;
                    top: {{columna*24+150}}px;
                    "
                    src="{{ asset('uploads/red_saber/buble_cero.png') }}" />  
             {%endfor%}
         {%endfor%}

         {%for j in 1..4%}
             {%set columna=loop.index0%}
             {%for i in 1..18%}
                <img
                    style="
                    position: absolute;
                    left: {{loop.index0*24+78}}px;
                    top: {{columna*24+280}}px;
                    "
                    src="{{ asset('uploads/red_saber/buble_cero.png') }}" />  
             {%endfor%}
         {%endfor%}

         {%for j in 1..4%}
             {%set columna=loop.index0%}
             {%for i in 1..18%}
                <img
                    style="
                    position: absolute;
                    left: {{loop.index0*24+78}}px;
                    top: {{columna*24+410}}px;
                    "
                    src="{{ asset('uploads/red_saber/buble_cero.png') }}" />  
             {%endfor%}
         {%endfor%}
    
    
</div>
<div style="height: 40px;">
</div>
</div>
<div class="footer-div"></div>
