{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ExamenIcfes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nro_preguntas</th>
                <td>{{ entity.nropreguntas }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha_inicio</th>
                <td>{{ entity.fechainicio|date('Y-m-d H:i:s') }}</td>
            </tr>
           </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('examenicfes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('examenicfes_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
