{% extends app.request.isXmlHttpRequest ? "NetpublicCoreBundle::layout_ajax.html.twig" : "NetpublicCoreBundle::layout.html.twig" %}
{% block title %}Resumen de exámen ICFES.{% endblock%} 

{% block main_container %}

<div style="margin: 20px;font-size: 11px;" class="well">
    
<div style="margin: 0 0 0 0;padding: 0 0 0 0;">
    <h4 class="center">Hoja de respuestas {{a_e.alumno|upper}}</h4>
<div class="col-lg-12"> 
            <div class="col-lg-6">
            <div class="cronometro_ well">
		<div class="marcador_">
			<input  style="background-color: #EFEFEF;border: none;font-size: 25px;"   id="crono" type="text" name="display" value="00:00:00"></input>
		</div>
		
            </div>
            </div>
            <div class="col-lg-2">
               
            </div>    
            <div class="col-lg-4 btn-group">
                <a href="#" onclick="iniciar2ExamenVirtualAhora({{examen.id}},{{app.session.get('hora')}},{{app.session.get('minutos')}})" class="btn btn-primary  btn-xs">Abrir Exámen</a>                
                <a href="#" onclick="abrirHoraRespuesta({{examen.id}},{{a_e.referencia}});" class="btn btn-xs">Abrir Hoja De Respuesta</a>
                
            </div>   
        </div> 
 
{%set ls_c=17%}
{%for bloque in 0..ultimo_bloque%}    
<div>bloque # {{loop.index}}</div>

    {%set li=bloque*4%}
    {%set ls=li+3%}
    {%for fila in li..ls%}    
        {%if bloque==ultimo_bloque%}
            {%set ls_c=(a_e.examen.getNroPreguntas-(ultimo_bloque*18+1))%}            
        {%endif%}
        {%for columna in 0 .. ls_c%}
            {% set buble=entities[fila][columna]%}
            <a href="#" onclick="procesarRespuestas({{buble.id}});">
                <div id="capa_{{buble.id}}" {%if buble.estado==1%}class='check'{%else%}class='no_check'{%endif%} style="width: 50px;float: left;margin-right: 1px;position: relative;
                      
                       ">
                     &nbsp;{{buble.label}}                     
                     {%if buble.estado==1%}
                     <span id="buble_{{buble.id}}" class="check">
                            <i class="icon icon-check-sign"></i>
                        </span>   
                     {%else%}
                     <span id="buble_{{buble.id}}" class="no_check">
                         <i class="icon icon-check-empty"></i>
                        </span> 
                     {%endif%}
                     {%if fila==li%}
                        {%set pregunta=entities[fila][columna].respuesta%}
                         <span style="font-size: 14px;color: white;font-weight: 900;position: absolute;top: 23px;z-index: 4;">{{pregunta.indice}}</span>
                     {%endif%}
    
            </div>
            </a>
        {%endfor%}
<div style="clear: both;"></div>
    {%endfor%}
{%endfor%}
</div>
{%endblock%}        
