{% if pageCount > 1 %}
    <ul class="pagination">
    {% if first is defined and current != first %}
        {#<li class="first"><a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a></li>#}
            <li class="first"><a onclick="procesarPaginador('container-principal','{{ path(route, query|merge({(pageParameterName): first})) }}');" href="#">&lt;&lt;</a></li>    
    {% endif %}

    {% if previous is defined %}
        <li class="previous"><a class="hidden-xs"
                                onclick="procesarPaginador('container-principal','{{ path(route, query|merge({(pageParameterName): previous})) }}');"
                                href="#">&lt;</a></li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="page"><a 
                    onclick="procesarPaginador('container-principal','{{ path(route, query|merge({(pageParameterName): page})) }}');"
                    href="#">{{ page }}</a></li>
        {% else %}
            <li class="current active"><a>{{ page }} <span class="sr-only">(current)</span></a></li>
        {% endif %}
    {% endfor %}

    {% if next is defined %}
        <li class="next"><a class="hidden-xs" 
                            onclick="procesarPaginador('container-principal','{{ path(route, query|merge({(pageParameterName): next})) }}');"
                            href="#">&gt;</a></li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="last"><a
                onclick="procesarPaginador('container-principal','{{ path(route, query|merge({(pageParameterName): last})) }}');"
                href="#">&gt;&gt;</a></li>
    {% endif %}
    </ul>
{% endif %}