{% extends "NetpublicCoreBundle::layout.html.twig" %}
{%block sub_container%} 
    <div class="col-lg-12" style="height: 200px;border: lightgray solid thin;">
         {%if entity.usuario.getEsFotoperfil()==TRUE%}
            <img alt="{{app.user.alumno}}" class="img-circle" 
                src="{{asset('uploads/documents/strongalumno'~entity.id~'.png')}}" alt="{{entity}}" />
         {%else%}
                <img alt="{{entity}}" 
                     class="nav-user-photo"
                     src="{{asset('uploads/documents/strongavatar.png')}}" alt="{{entity}}" />                    
         {%endif%}    
    {%if entity.grupo is null%}
        {%set grupo='no tiene'%}
    {%else%}
        {%set grupo=entity.grupo%}
    {%endif%}
    <span class="light-grey">{{entity.nombre}}<small style="font-size: 9px;"> Grado/Grupo:{{entity.grado}}/{{grupo}}</small></span>                                                   
    </div>
    <nav role="navigation" class="navbar-inl navbar-default col-lg-12" >
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{path('alumno_perfiladmin',{'id': entity.id})}}" >Inicio</a></li>
            <li><a href="#" onclick="imprimirMisNotas({{entity.id}},1,{{ano_escolar_activo.id}})">Mis Notas.</a></li>
            <li><a href="#" onclick="verMisDescriptores({{entity.id}});">Mis Descriptores.</a></li>
            <li><a href="#" onclick="indexObservacionAlumno({{entity.id}});">Mi Observador.</a></li>
            <li><a href="#" onclick="verRecuperaciones({{entity.id}});"> 
                    Recuperaciones.
                    {%if nro_recuperaciones>0%}
                    <span class="badge badge-important">{{nro_recuperaciones}}</span>
                    {%endif%}
                </a></li>
            
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Acciones <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#" onclick="borrarAlumno({{entity.id}});">Borrar</a></li>
                <li><a href="#" onclick="editContrasenIdUsuario({{entity.usuario.id}});">Cambiar Contraseña</a></li>
                <li class="divider"></li>
                <li class="disabled"><a href="#">Asignar grupo</a></li>
                <li class="disabled"><a href="#">Retirar grupo</a></li>
                <li class="disabled"><a href="#">Cambiar grupo</a></li>
                <li class="divider"></li>
                <li><a href="{{path('alumno_editperfil',{'id':entity.id})}}" >Editar Perfil</a></li>
                
              </ul>
            </li>
              <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Informes <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                  <li><a href="#" onclick="mostrarBoletinPerfil({{entity.id}},5);">Boletin</a></li>
                <li><a href="#"  onclick="mostrarCertificadoPerfil({{entity.id}});">Certificado de estudio</a></li>
                <li><a href="#"  onclick="mostrarConstanciaPerfil({{entity.id}});">Constancia de estudio</a></li>
                <li><a href="#"  onclick="mostrarcarnetPerfil({{entity.id}});">Carnet</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
<div class="col-lg-12" style="margin-top: 30px;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10"  id="container-minostas-perfil"> 
         <form action="{{ path('alumno_updateperfil', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_errors(edit_form) }}
        
        <div class="col-sm-12 widget-container-span ui-sortable">
	<div class="widget-box">
            <div class="widget-header">
                <h5 class="smaller">Información Del Alumno</h5>
                    <div class="widget-toolbar no-border">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
				<a href="#home" data-toggle="tab">Información Básica Del Alumno.</a>
                            </li>
                            <li>
                                <a href="#info_academica" data-toggle="tab">Informarción Acádemica</a>
                            </li>
                            <li>
                                <a href="#datos_adicionales" data-toggle="tab">Datos adicionales</a>
                            </li>
                            <li>
                                <a href="#acudiente" data-toggle="tab">Acudiente</a>
                            </li>
                            <li>
                                <a href="#colegio_anterior" data-toggle="tab">Colegio anterior</a>
                            </li>
                            <li>
                                <a href="#foto" data-toggle="tab">Foto</a>
                            </li>
                            
			</ul>
                        </div>
            </div>
            <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="tab-content">
                            <div class="tab-pane in active" id="home">
                               {{ form_label(edit_form.nombre, null, { 'label': 'Primer Nombre:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.nombre) }}                                    
{{ form_label(edit_form.nombre1, null, { 'label': 'Segundo Nombre:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.nombre1) }}                                    
{{ form_label(edit_form.apellido, null, { 'label': 'Primer Apellido:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.apellido) }}                                    
{{ form_label(edit_form.apellido1, null, { 'label': 'Segundo Apellido:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.apellido1) }}                                                                            
{{ form_label(edit_form.grado, null, { 'label': 'Grado:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.grado) }}                                                                            
                                        
{#{ form_label(edit_form.grupo, null, { 'label': 'Grupo:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.grupo) }#}          
{{ form_label(edit_form.cedula, null, { 'label': 'Cedula:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.cedula) }}                                                                            
{{ form_label(edit_form.tipo_documento, null, { 'label': 'Tipo Documento:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.tipo_documento) }}                                                                            
{{ form_label(edit_form.tipo_sangre, null, { 'label': 'Tipo Sangre:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.tipo_sangre) }}                                                                            

                                        
                                               
                                            {{ form_label(edit_form.departamento, null, { 'label': 'Depto Expedición', 'attr': {'for': 'xlInput'} }) }}            
                                            {{ form_widget(edit_form.departamento) }}
                                              
                                            {{ form_label(edit_form.municipio, null, { 'label': 'Municipio Expedición', 'attr': {'for': 'xlInput'} }) }}            
                                                 
                                                {{ form_widget(edit_form.municipio) }}
                                                
                                            {{ form_label(edit_form.fecha_nacimiento, null, { 'label': 'Fecha De Nacimiento', 'attr': {'for': 'xlInput'} }) }}            
                                                       
                                                {{ form_widget(edit_form.fecha_nacimiento) }}
                                                               
                                              
                                            {{ form_label(edit_form.depto_nacimiento, null, { 'label': 'Depto Donde Naciste?', 'attr': {'for': 'xlInput'} }) }}            
                                                       
                                                {{ form_widget(edit_form.depto_nacimiento) }}
                                                
                                            {{ form_label(edit_form.municipio_nacimiento, null, { 'label': 'Municipio Donde Naciste?', 'attr': {'for': 'xlInput'} }) }}            
                                                  
                                                {{ form_widget(edit_form.municipio_nacimiento) }}
                                               
                                            {{ form_label(edit_form.genero, null, { 'label': 'Genero', 'attr': {'for': 'xlInput'} }) }}            
                                                     
                                                {{ form_widget(edit_form.genero) }}
                                                    
          
                            </div>
                            <div class="tab-pane" id="info_academica">
                              {{ form_label(edit_form.sede, null, { 'label': 'Jornada :', 'attr': {'for': 'xlInput'} }) }}            
                                {{ form_widget(edit_form.sede) }} 
                                {{ form_label(edit_form.jornada, null, { 'label': 'Jornada :', 'attr': {'for': 'xlInput'} }) }}            
                                {{ form_widget(edit_form.jornada) }}       
                               {{ form_label(edit_form.situacion_academica_ano_anterior, null, { 'label': 'Situación Academica(Año Anterior)', 'attr': {'for': 'xlInput'} }) }}                                                               
                               {{ form_widget(edit_form.situacion_academica_ano_anterior) }}
                               {{ form_label(edit_form.condicion_finalizar_ano_anterior, null, { 'label': 'Situación Academica Finalizar Año', 'attr': {'for': 'xlInput'} }) }}                                                               
                               {{ form_widget(edit_form.condicion_finalizar_ano_anterior) }}
                               
                               {{ form_label(edit_form.es_recuperacion, null, { 'label': 'Recupero?', 'attr': {'for': 'xlInput'} }) }}                                                               
                               {{ form_widget(edit_form.es_recuperacion) }}     
                                    
                               {{ form_label(edit_form.repitente, null, { 'label': 'Repitente ?', 'attr': {'for': 'xlInput'} }) }}                                                               
                               {{ form_widget(edit_form.repitente) }}
                               {{ form_label(edit_form.es_habilitacion, null, { 'label': 'Habilitó ?', 'attr': {'for': 'xlInput'} }) }}                                                               
                               {{ form_widget(edit_form.es_habilitacion) }}
                               {{ form_label(edit_form.es_nuevo, null, { 'label': 'Es Nuevo ?', 'attr': {'for': 'xlInput'} }) }}                                                               
                               {{ form_widget(edit_form.es_nuevo) }}
                               {{ form_label(edit_form.posicion_academica, null, { 'label': 'Puesto(Mejores Estudiantes) ?', 'attr': {'for': 'xlInput'} }) }}                                                               
                               {{ form_widget(edit_form.posicion_academica) }}
                            </div>
                            <div class="tab-pane" id="ubicacion">
          {{ form_label(edit_form.direccion_residencia, null, { 'label': 'Direccion de Residencia', 'attr': {'for': 'xlInput'} }) }}            
                                                 
                                                {{ form_widget(edit_form.direccion_residencia) }}
{{ form_label(edit_form.movil, null, { 'label': 'Movil:', 'attr': {'for': 'xlInput'} }) }}            
{{ form_widget(edit_form.movil) }}                                                                            

                                            {{ form_label(edit_form.telefono, null, { 'label': 'Telefono', 'attr': {'for': 'xlInput'} }) }}            
                                                      
                                                {{ form_widget(edit_form.telefono) }}
                                                 
                                            {{ form_label(edit_form.depto_ubicacion, null, { 'label': 'Departamento Donde vives?', 'attr': {'for': 'xlInput'} }) }}            
                                                     
                                                {{ form_widget(edit_form.depto_ubicacion) }}
                                               
                                            {{ form_label(edit_form.municipio_ubicacion, null, { 'label': 'Municipio Donde Vives', 'attr': {'for': 'xlInput'} }) }}            
                                                   
                                                {{ form_widget(edit_form.municipio_ubicacion) }}
                                                
                                            {{ form_label(edit_form.zona, null, { 'label': 'Zona', 'attr': {'for': 'xlInput'} }) }}            
                                                 
                                                {{ form_widget(edit_form.zona) }}
                                                   
                                            {{ form_label(edit_form.localidad_vereda, null, { 'label': 'Localidad', 'attr': {'for': 'xlInput'} }) }}            
                                                    
                                                {{ form_widget(edit_form.localidad_vereda) }}
                                              
                                            {{ form_label(edit_form.barrio, null, { 'label': 'Barrio', 'attr': {'for': 'xlInput'} }) }}            
                                                     
                                                {{ form_widget(edit_form.barrio) }}
                                                     
                                            {{ form_label(edit_form.estrato_socioeconomico, null, { 'label': 'Estrato', 'attr': {'for': 'xlInput'} }) }}            
                                                     
                                                {{ form_widget(edit_form.estrato_socioeconomico) }}
                                               
                                            {{ form_label(edit_form.sisben, null, { 'label': 'Sisben', 'attr': {'for': 'xlInput'} }) }}            
                                                       
                                                {{ form_widget(edit_form.sisben) }}
                                                    
                                            {{ form_label(edit_form.eps, null, { 'label': 'Eps', 'attr': {'for': 'xlInput'} }) }}            
                                                      
                                                {{ form_widget(edit_form.eps) }}
                                                
                                            {{ form_label(edit_form.ars, null, { 'label': 'Ars', 'attr': {'for': 'xlInput'} }) }}            
                                                     
                                                {{ form_widget(edit_form.ars) }}
                            </div>
                            <div class="tab-pane" id="datos_adicionales">
                                  {{ form_label(edit_form.poblacion_vitima_conflito, null, { 'label': 'Población Victima Del Conflito', 'attr': {'for': 'xlInput'} }) }}            
                                                        
                                                {{ form_widget(edit_form.poblacion_vitima_conflito) }}
                                                   
                                            {{ form_label(edit_form.ultimo_depto_expulsor, null, { 'label': 'Depto de donde fuieste expulsado.?', 'attr': {'for': 'xlInput'} }) }}            
                                                       
                                                {{ form_widget(edit_form.ultimo_depto_expulsor) }}
                                                  
                                            {{ form_label(edit_form.tipo_municipio_expulsor, null, { 'label': 'Municipio de donde fuiste expulsado?', 'attr': {'for': 'xlInput'} }) }}            
                                                      
                                                {{ form_widget(edit_form.tipo_municipio_expulsor) }}
                                                  
                                            {{ form_label(edit_form.es_sector_privado, null, { 'label': 'Proveniente del sector privado?', 'attr': {'for': 'xlInput'} }) }}            
                                                   
                                                {{ form_widget(edit_form.es_sector_privado) }}
                                                     
                                            {{ form_label(edit_form.es_otro_municipio, null, { 'label': 'Vienes de otro municipio', 'attr': {'for': 'xlInput'} }) }}            
                                                      
                                                {{ form_widget(edit_form.es_otro_municipio) }}
                                             
                                            {{ form_label(edit_form.tipo_discapacidad, null, { 'label': 'Tiendes Discapacidades?', 'attr': {'for': 'xlInput'} }) }}            
                                                   
                                                {{ form_widget(edit_form.tipo_discapacidad) }}
                                            {{ form_label(edit_form.capacidad_excepcionales, null, { 'label': 'Caplacidades Excepcionales', 'attr': {'for': 'xlInput'} }) }}            
                                                
                                                {{ form_widget(edit_form.capacidad_excepcionales) }}
                                                   
                                            {{ form_label(edit_form.etnia, null, { 'label': 'Pertneces a alguna Etnia?', 'attr': {'for': 'xlInput'} }) }}            
                                                   
                                                {{ form_widget(edit_form.etnia) }}
                                                   
                                            {{ form_label(edit_form.resguardo, null, { 'label': 'Perteneces a algun resguardo?', 'attr': {'for': 'xlInput'} }) }}            
                                                    
                                                {{ form_widget(edit_form.resguardo) }}
                            </div>
                            <div class="tab-pane" id="acudiente">
 {{ form_label(edit_form.acudiente, null, { 'label': 'Acudiente', 'attr': {'for': 'xlInput'} }) }}                                                               
                               {{ form_widget(edit_form.acudiente) }}
                             </div>
                            <div class="tab-pane" id="colegio_anterior">
  {{ form_label(edit_form.colegio_estudio_ultimo_ano, null, { 'label': 'Colegio donde estudio el ultimo año', 'attr': {'for': 'xlInput'} }) }}            
                                               
                                                {{ form_widget(edit_form.colegio_estudio_ultimo_ano) }}
                                                  
                                            {{ form_label(edit_form.direccion_colegio_proveniente, null, { 'label': 'Direccion ', 'attr': {'for': 'xlInput'} }) }}            
                                                  
                                                {{ form_widget(edit_form.direccion_colegio_proveniente) }}
                                                     
                                            {{ form_label(edit_form.grado_proveniente, null, { 'label': 'Grado Cursado', 'attr': {'for': 'xlInput'} }) }}            
                                                      
                                                {{ form_widget(edit_form.grado_proveniente) }}
                                                   
                                            {{ form_label(edit_form.ano, null, { 'label': 'Año en el que terminaste', 'attr': {'for': 'xlInput'} }) }}            
                                                       
                                                {{ form_widget(edit_form.ano) }}
                                                    
                                    createcustom        {{ form_label(edit_form.motivo_retiro, null, { 'label': 'Por que te retiraste?', 'attr': {'for': 'xlInput'} }) }}            
                                                      
                                                {{ form_widget(edit_form.motivo_retiro) }}
                            </div>
                            <div class="tab-pane" id="foto">
 {{ form_label(edit_form.foto_academica, null, { 'label': 'Foto.', 'attr': {'for': 'xlInput'} }) }}            
                                               
                                                {{ form_widget(edit_form.foto_academica) }}
                                                  
                            </div>    
                            
                    </div>
                </div>
</div>
</div>
</div>
                 <button  type="submit" class="btn btn-primary pull-right" >Actualizar</button>         
        
        

 {{ form_widget(edit_form._token) }}
<div style="clear: both;"></div>  
                   
</form>         
</div>
    <div class="col-lg-1"></div>
</div>
{%endblock%}






