<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page>  
        {%for alumno in alumnos%}
        <table border.color="black" style="background-color:white;margin-bottom: 20px;color:black;width: 350px;height: 180px;">
            <tr>
                <td  border.color="white">       
                    <div style="padding-left: 80px;font-style: bold;">{{colegio}}  
                                                                 
                        <img style="width:50px;height: 90px" src="../web/uploads/documents/escudo_colegio{{colegio.id}}.png" />        
                    </div>
                    <div style="font-size:15px;margin-left: 5px;">    
                                {{alumno}}
                                <img style="width:218px;height: 10px" src="{{ pdf_image('NetpublicCoreBundle:escudo_colegio_aux1.png') }}" />        
                    </div>        
                    <div style="font-size: 9px;color: #707070;margin-left: 10px;">Grado: {{alumno.grado}} Grupo: {{alumno.grupo}}</div>
                    <div style="font-size: 9px;color: #707070;margin-left: 10px;">Codigo: {{alumno.id}} Cedula: {{alumno.cedula}}</div>
                </td>
                <td style="width: 60px;" border.color="white">
                    <div>
                        {%if alumno.usuario.getEsFotoperfil()==TRUE%}
                        <img style="width:80px;height: 90px" src="../web/uploads/documents/strongalumno{{alumno.id}}.jpg" />        
                        {%else%}
                        <img style="width:80px;height: 90px" src="../web/uploads/documents/strongavatar.png" />        
                        {%endif%}
                    </div>
                </td>                
            </tr>
        </table>    
        
        {%endfor%}    
    </dynamic-page>
</pdf>