
<div id="capa_ram_newAlumno">
<div>              
  <h3>Nuevo Alumno | Acudiente(Archivo en Excell)-Ultima hoja:{{hoja+1}}</h3>
</div>
        <form  class="form-horizontal" action="{{path('alumno_createexcell')}}" method="post"  enctype="multipart/form-data">
<div class="col-lg-12">
        
            <div class="col-lg-4"> 
        <div class="form-group">
        <select id="sede_excell" name="sede">
            <option value="*">Seleccione Sede</option>
            {%for sede in sedes%}
            <option value="{{sede.id}}">{{sede}}</option>
            {%endfor%}
        </select>
        </div>
            <div class="form-group">    
        <select id="grado_excell" name="grado" onchange="getGruposGrado(this);">
            <option value="*">Seleccione Grado</option>
            {%for grado in grados%}
            <option value="{{grado.id}}">{{grado}}</option>
            {%endfor%}
        </select>
         </div>
            <div class="form-group">   
        <select id="tipo_excell" name="tipo_usuario">
            <option value="*" 
                   {%if tipo_usuario=='*' %}
                    selected="selected"
                    {%endif%}

                    >Es Alumno O Acudiente</option>
            <option value="0"
                 {%if tipo_usuario==0%}
                    selected="selected"
                    {%endif%}

                    >Alumno</option>
            <option value="1"
                    {%if tipo_usuario==1%}
                    selected="selected"
                    {%endif%}

                    >Acudiente</option>
        </select>        
            </div>      
            <div class="form-group">
                    <select id="ntp_inacholeebundle_contratotype_grupos" name="grupo">
                        <option value="*">-----------</option>
                    </select>
            </div>
    </div> 
    <div class="col-lg-4">
    </div>     
    <div class="col-lg-4">    
            <h4 style="margin-bottom: 20px;">Datos Pertenecientes a la Hoja de EXCEL</h4>
            <div class="form-group">
            <select id="es_nombre_completo" name="es_nombre_completo" onchange="mostrarCapasNombreCompletoPorPartes(this);" >
            <option value="*">esta Nombre Completo O Separado</option>
            <option value="1" {%if es_nombre_completo==1%} selected="selected" {%endif%} >Nombre Completo</option>
            <option {%if es_nombre_completo==2%} selected="selected" {%endif%} value="2"  > Nombre Separado</option>
        </select>
          </div>          
           <div class="form-group" 
            {%if es_nombre_completo!=1%}
               style="display: none;"
            {%endif%}     
            id="capa_nombre_entero" >              
                  <select id="columna_nombre" name="columna_nombre">
                    <option value="*" {%if columna_nombre=='*'%} selected="selected" {%endif%}>Ubicación Del Nombre(Columna)</option>
            {%for columna in 'A'..'Z'%}
            <option value="{{loop.index0}}" {%if columna_nombre==loop.index0%} selected="selected" {%endif%}>{{columna}}</option>            
            
            {%endfor%}
       
                  </select>
      
            </div>
                        
            <div class="form-group">                  
        
        <select  id="columna_doc_identidad" name="columna_ti">
            <option value="*"  {%if columna_ti=='*'%} selected="selected" {%endif%}>Ubicación Documento De Identidad(COLUMNA)</option>
            {%for columna in 'A'..'Z'%}
            <option value="{{loop.index0}}" {%if columna_ti==loop.index0%} selected="selected" {%endif%}>{{columna}}</option>            
            
            {%endfor%}
        </select>
            </div> 
            <div class="form-group">   
                <select id="columna_nombre" name="fila_nombre">
                <option value="*"  {%if fila_nombre=='*'%} selected="selected" {%endif%}>Ubicación Del Nombre(FILA)</option>
                {%for fila in 1..40%}
                    <option value="{{fila}}"  {%if fila_nombre==fila%} selected= {%endif%}> Fila{{fila}}</option>
                {%endfor%}
                </select>
            </div>
            <div id="capa_nombre_separado"
           {%if es_nombre_completo!=2%}
            style="display: none;"
            {%endif%}     
             >
               <div class="form-group">     
          <select id="columna_primer_nombre" name="primer_nombre">
            <option value="*"  {%if columna_primer_nombre=='*'%} selected="selected" {%endif%}>Columna Del Primer Nombre.</option>
            
            {%for columna in 'A'..'Z'%}
                <option value="{{columna}}" {%if columna_primer_nombre==columna%} selected="selected" {%endif%}>{{columna}}</option>            
            {%endfor%}            
                </select>
              </div>
               <div class="form-group"> 
              <select id="columna_segundo_nombre" name="segundo_nombre">
            <option value="*"  {%if columna_segundo_nombre=='*'%} selected="selected" {%endif%}>Columna Del Seguundo Nombre.</option>
            
            {%for columna in 'A'..'Z'%}
                <option value="{{columna}}" {%if columna_segundo_nombre==columna%} selected="selected" {%endif%}>{{columna}}</option>            
            {%endfor%}            
                </select>
               </div>
               <div class="form-group">
              <select id="columna_primer_apellido" name="primer_apellido">
            <option value="*"  {%if columna_primer_apellido=='*'%} selected="selected" {%endif%}>Columna Del Primer Apellido.</option>
            
            {%for columna in 'A'..'Z'%}
                <option value="{{columna}}" {%if columna_primer_apellido==columna%} selected="selected" {%endif%}>{{columna}}</option>            
            {%endfor%}            
                </select>
              </div>
               <div class="form-group">  
              <select id="columna_segundo_apellido" name="segundo_apellido">
            <option value="*"  {%if columna_segundo_apellido=='*'%} selected="selected" {%endif%}>Columna Del Segundo Apellido.</option>
            
            {%for columna in 'A'..'Z'%}
                <option value="{{columna}}" {%if columna_segundo_apellido==columna%} selected="selected" {%endif%}>{{columna}}</option>            
            {%endfor%}            
                </select>
              </div>
          </div>           
              <div class="form-group">
            <select required="required"  id="hoja" name="hoja">
            <option value="*">Hoja|Sheet</option>            
            {%for hoja in 0..70%}
            <option value="{{hoja}}">Hoja {{loop.index}}</option>
            {%endfor%}    
        </select>
             </div>          
                  
{%if hay_archivo_servidor==0%}            
               <div class="form-group">
                <input type="file" name="archivo_excell">        
                </div>
{%endif%}       
   </div>
   </div>
                
<div class="btn-group pull-right" style="margin-top: 60px;">        
    <a c onclick="newAlumnoUnoUnoLoteDefectoAno();" name="btn_finalizar" class="btn">Finalizar</a>
    <button value="1" name="btn_registrar" class="btn" >Registrar</button>
    <button value="2" name="btn_registrar_matricular" class="btn btn-primary">Registrar & Matricular</button>
</div>    
<div id="capa_ram_new_alumno" style="display: none;">
    
</div>
     </form>  
        </div>
        