{%for carga in carga_academica%}
<li class="parent_li ca" id="ca_{{carga.id}}">
    <span class="items_remoto" id="compo_redsaber{{carga.id}}" data-id={{carga.id}} title="Collapse this branch">
          <i class="icon-plus-sign"></i> {{carga.asignatura}} <small style="font-size: 8px;">Dictado por: {{carga.profesor}}</small></span>
        <ul id="ul_compo_{{carga.id}}">
      {#{ render(controller('NetpublicCoreBundle:Dimension:showca', {'ca_id': carga.id,'dimension_id':-1 }))}#}
    </ul>
  </li>
{%endfor%}