{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends '::base.html.twig' %}
{% block title %}Prueba{% endblock %}
{% block body %}
    {{ name }}

<form action="{{ path('listar_alumnos_dimensiones', { 'id_grupo': id_grupo,'id_dimension':id_dimension}) }}" method="post" >
    <input type="submit" value="guardar" />
<h3>Alumnos</h3>
{%if item_superiores%}
    
    {%for item in item_superiores%}
    
    <div style="background-color:gray;float: left;width: 200px;height: 100px;margin-right: 10px">
        <a href="{{ path('listar_alumnos_dimensiones', { 'id_grupo': id_grupo,'id_dimension':item.id}) }}">{{item.nombre|raw}}</a>
    </div>   
    {%endfor%}
{%endif%}
<div style="clear: both"></div>
<div style="float: left;background-color:red;margin-left: 0px ">
        <ul style="list-style: none;background-color: blue;margin:0 0 0 0;padding: 0 0 0 0;">                
            <li style="font-size: 0.6em;width: 150px;height: 30px;color:white;background-color:#009933;">----</li>
            {% for a in nombre_alumnos%}        
            <li style="margin: 0 0 0 0"><input readonly style="width: 150px;height: 30px;color:white;background-color:#009933;" value={{a.nombre}} /></li>
            {%endfor%}
        </ul>
    </div>
   {% for f in form %}
    <div style="float: left;background-color:red;margin-left: 0px ">
        {% if nombre_dimension %}
        <ul style="list-style: none;background-color: blue;margin:0 0 0 0;padding: 0 0 0 0;">                
            <li style="font-size: 0.6em;width: 30px;height: 30px;color:white;background-color:#009933;">{{nombre_dimension[loop.index0].nombre |raw}}</li>
           {% for l in f %}
                <li style="margin: 0 0 0 0">
                      {{ form_widget(l.nota) }}    
                      {{ form_rest(l) }}
                </li>
          {%endfor%}   
        </ul>
        {%endif%}    
        </div>
   {%endfor%}    
        <div style="clear: both"></div>       


</form>
{% endblock %}
