<h5>Desempeno</h5>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Descripcion_inf</th>
            <td>{{ entity.descripcioninf }}</td>
        </tr>
        <tr>
            <th>Observacion_perdida</th>
            <td>{{ entity.observacionperdida }}</td>
        </tr>
        <tr>
            <th>Observacion_sobresaliente</th>
            <td>{{ entity.observacionsobresaliente }}</td>
        </tr>
        <tr>
            <th>Descripcion_deficiente</th>
            <td>{{ entity.descripciondeficiente }}</td>
        </tr>
        <tr>
            <th>Descripcion_insuficiente</th>
            <td>{{ entity.descripcioninsuficiente }}</td>
        </tr>
        <tr>
            <th>Descripcion_aceptable</th>
            <td>{{ entity.descripcionaceptable }}</td>
        </tr>
        <tr>
            <th>Descripcion_sobresaliente</th>
            <td>{{ entity.descripcionsobresaliente }}</td>
        </tr>
        <tr>
            <th>Descripcion_excelente</th>
            <td>{{ entity.descripcionexcelente }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="#" onclick="indexdesempenoinfoAcademicaDefectoAno();">
            << Atras
        </a>
    </li>
   
</ul>
