<div>
    <button class="close" 
            onclick="$('#capa_ram_actividades_desempenos_calificar_nota').hide();"
            style="float: right;margin: 0 0 0 0 ;padding: 0px 0px 0px 0px;">&times;</button>
        <div style="clear: both;"></div>            
</div>


{%if es_tiempo_calificar==1%}     
{%if desempeno|length > 0%}
<h5>Por favor seleccione los Desempeños a mostrar el boletin.</h5> 
<table class="table table-bordered ">

    <thead>
      <tr>
          <th>
<input type="checkbox" onclick="allCheckBox('input_check_all','desempenos_profesor');" id="input_check_all">          
          
          
          </th>  
        <th>Descripción Desempeno</th>
        <th>Grupo-Asignatura-Grado-(Aspecto Evaluar)</th>
        <th>Periodo Académico</th>
        <th>Valores Descriptivos</th>
      </tr>
    </thead>
        
    <tbody>
     
       {% for d in desempeno%}
         <tr>
             <td><input type="checkbox" value="{{d.id}}" class="desempenos_profesor" /></td>  
              <td>{{d.getDescripcionInf()}}</td>
              <td>
                  {%for g_d in d.getGrupo()%}
                      {{g_d}}-{{d.asignatura}}
                  {%endfor%}    

({{d.getAspectoEvaluar()}})</td> 
              <td>{{d.periodo}}</td> 
              <td style="font-size: 9px;">
                  <ul>
                      <li> {{d.getDescripcionSobresaliente()|raw}}</li>
                      <li> {{d.getDescripcionExcelente()|raw}}</li>
                      <li> {{d.getDescripcionAceptable()|raw}}</li>
                      <li> {{d.getDescripcionInsuficiente()|raw}}</li>
                      
                  </ul>
              </td>
         </tr>
        {%endfor%} 
      
    </tbody>

  </table>
<button style="float: right" onclick="showCruceActividadesDesempeno();" class="btn btn-primary" type="submit">Siguiente >></button>
<button style="float: right;margin-right: 6px;" onclick="$('#capa_ram_actividades_desempenos_calificar_nota').hide('slow');" class="btn" type="submit"> Cancelar</button>
{%else%}
<h5>Para finalizar click en "Publicar notas Ahora!!". No se mostraran Desempeños en el Bolitin. </h5> 
<button style="float: right" onclick="hacerCalculosActividadesDesempeno();" class="btn btn-primary" type="submit">
    Publicar notas Ahora!!</button>
{%endif%}


<div style="clear: both"></div>
{%else%}
<h3 style="color: red;">Tiempo de entrega de informe agotado. Comunicate con directivo encargado</h3>
                        <img style="float: left;" src="/inl/web/uploads/Reloj_icon003.jpg" />        
{%endif%}