<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Vista premilinar de tus logros.</h4>
      </div>
      <div class="modal-body">
<table  class="table table-bordered table-boletin" style="margin-top: 15px;">
    <tr style="height: 40px;font-weight: 900;font-size: 20px;">
        <td>Estado del logro?</td>
        <td><strong>Areas/Asignaturas</strong></td>
        {%for periodo_academico in periodos_escolares%}
            <td><strong>P{{loop.index}}</strong></td>
        {%endfor%}
        <td><strong>Def</strong></td>
        <td><strong>Desemp </strong></td>
        <td><strong>Descriptores|Logros</strong></td>
        <td><strong>Fallas</strong></td>
     </tr>   
 {%for areas in datos%}
    <tr {%if areas.desempeno=='BAJO'%}
          style="color: red;font-weight: 600;"
        {%elseif areas.desempeno=='SUPERIOR'%}
          style="color: green;font-weight: 600;"
        {%endif%}>
        <td> </td>
        <td><strong>{{areas.nombre|upper}}</td>
        {%for periodo_academico in periodos_escolares%}
            <td> </td>
        {%endfor%}
        <td>{{areas.nota_promedio_acumalativa}}</td>
        <td>
             {{areas.desempeno}}
        </td>
        {%if areas.inasistencia!=0%}
            <td>{{areas.inasistencia}}</td>
        {%else%}
            <td>  </td>
        {%endif%}          
     </tr>    
     {% for asignaturas_area in areas.asignaturas%}
     <tr style="clear: both;{%if asignaturas_area.asignatura.id==asignatura_id%}font-weight: 900;color: green;{%else%}color: gainsboro;{%endif%}" >
         <td>{%if asignaturas_area.asignatura.id==asignatura_id%}<i class="fa fa-3x fa-check-circle green"></i>{%endif%}</td>  
            <td>{{asignaturas_area.asignatura.nombre|lower}}</td>         
             {%for periodos_asignatura in asignaturas_area.asignatura.periodos %}
                <td>{{periodos_asignatura.periodo.nota}}</td>
             {%endfor%}   
             <td>{{asignaturas_area.asignatura.nota}}</td>     
             <td>-</td>
             <td style="text-align: justify;">
               {%for desempenos_asg in asignaturas_area.asignatura.desempenos%}
                  {%for desempeno_asg in desempenos_asg%}
                      {{desempeno_asg}}
                  {%endfor%}
               {%endfor%}    
             </td>
             <td>
             {%if asignaturas_area.asignatura.inasistencias!=0%}
                   {{asignaturas_area.asignatura.inasistencias}}
             {%endif%}                    
             </td>                 
        </tr>
      {%endfor%}
               
{%endfor%}
</table>  
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
</div>
</div>
