<div  id="resultado_filtros">
    <input type="checkbox" id="input_check_all_auditoria" onclick="allAlumnosAuditoria();" />Todos.<br/>
       
    <div style="float: left;">
    <div style="
         background-color: gray;
         font-size: 26px;
         height: 40px;
         padding-top: 9px;
         padding-left: 9px;
         font-weight: bolder;
         color: white;
         width: 30%;         
         ">
        {{nro_usuarios}}
  </div>
        <span style="color: gray;">Usuarios cargados</span>
   </div>     
        <div class="pagination pagination-right" style="float: right;">  
    <ul>
{#{% if paginador.currentPage > 1 %}
<li><a onclick="mostrarFiltroPaginador('capa_ram_auditorias','{{ path('auditoria_buscar', { 'page': paginador.previousPage}) }}');">Anterior</a></li>
{% else %}
<li class="previous disabled"><a href="#">Anterior</a></li>
{% endif %}
{% for page in paginador.minPageInRange..paginador.maxPageInRange %}
{% if page == paginador.currentPage %}
<li class="disabled"><a href="#">{{ page }}</a></li>
{% else %}
<li><a onclick="mostrarFiltroPaginador('capa_ram_auditorias','{{ path('auditoria_buscar', { 'page': page }) }}');">{{ page
}}</a></li>
{% endif %}
{% endfor %}
{% if paginador.currentPage < paginador.lastPage %}
<li><a href="#" 
        onclick="mostrarFiltroPaginador('capa_ram_auditorias','{{ path('auditoria_buscar', { 'page': paginador.nextPage }) }}');">Siguiente</a></li>
{% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
{% endif %}
</ul>
#}                        
</div>
       <div style="clear: both;"></div>       
{%for alumno in alumnos%}     
       <div class="well" id="div_solicitud{{alumno.id}}">      
      <div style="float: left;width: 2%;padding-top: 30px;padding-right: 10px;">
          
          <input type="checkbox" class="fila_alumno" value="{{alumno.id}}"/> 
  </div>
      <div style="float: left;width: 90%;">    
      <a href="#" class="thumbnail" style="width: 70px;height: 75px;float: left;">
                {%if alumno.usuario.getEsFotoperfil()==TRUE%}
                    <img  style="width: 70px;height: 75px;" src="{{asset('uploads/documents/strongalumno'~alumno.id~'.jpg')}}" alt="InachoLee_" />
                {%else%}
                    <img style="width: 70px;height: 75px;" src="{{asset('uploads/documents/strongavatar.png')}}"  uri/web/uploads/documents/" alt="InachoLeeYuri" />                    
                {%endif%}
                         
      </a>
         <p style="float: left;margin-left: 10px;font-size: 14px;margin-top: 20px;color: gray;">
               {{alumno}}<br/>
               <span style="font-size: 12px;">  
              Grado: {{alumno.grado}} 
              Grupo: {{alumno.grupo}}
             </span> 
               <span style="color: white;font-weight: 900;background-color: orange;">
                    {%if alumno.getTieneNovedad==true%}
                       Reportado!!
                    {%endif%}   
               </span>   
          </p>  
          <div class="btn-group" style="float: right;">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Que Queres Hacer?
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#" onclick="procesarRetirarGrupoAuditoria({{alumno.id}});">Retirarlo De el grupo</a></li>
        <li><a href="#" onclick="procesarCambiarGrupoUNoUno('div_cambiarGrupo{{alumno.id}}');">Cambiarlo A Otro Grupo</a></li>        
        
    </ul>
                  
    </div> 
       <div class="well" id="div_cambiarGrupo{{alumno.id}}" style="display: none;margin-top: 30px;float: right;">
           
           <select  id="select_grado_auditoria{{alumno.id}}"
                    class="span6"
                    onchange="getGruposGradoEstandar('select_grado_auditoria{{alumno.id}}','select_grupo_auditoria{{alumno.id}}');">
             <option>Grado ??</option>
             {%for grado in grados%}
             <option value="{{grado.id}}">{{grado}}</option>
             {%endfor%}
         </select>
           <select class="span6" id="select_grupo_auditoria{{alumno.id}}">
             <option>Grupo ??</option>             
         </select>
           <button class="btn" style="float: right;margin-left: 5px;" onclick="$('#div_cambiarGrupo{{alumno.id}}').hide('slow')">Cancelar</button>
         
           <button onclick="procesarCambiarGrupoAuditoria({{alumno.id}});" class="btn btn-small btn-primary" style="float: right;">
               Por favor, Adicionarlo A Este Grupo
           </button>
           </div>   
                  </div>
 <div style="clear: both;"></div>       
          
  </div>
{%endfor%}        
 <div style="clear: both;"></div>       
</div>
{# empty Twig template #}
