<option value="*">{{'     '}}</option>
<option value="{{periodo.id}}">{{periodo}}</option>
{%for dim in dimensiones_superiores%}
<option value="{{dim.id}}">&nbsp;&nbsp;&nbsp;{{dim}}</option>
{%endfor%}